body{
    /* background: #1B110B; */
}

.container{
   /* position: relative; */
}

.innerContainer{
 /* position: absolute;
 top: 50%;
 left: 0; */
}
table{
    clear: both;
}

table tbody{
    color: #FFFCF9;
}

table thead{
    font-weight: bold;
    color: #DC1E3E;
}